In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')

In [17]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

Q1

In [61]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

Q2

In [65]:
df.corr()['Element Code']

<ipython-input-65-f5d7ba76e29a>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

Q3

In [66]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

Q4

In [68]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col =  ['Age', 'Nationality', 'Overall']

df2 = pd.DataFrame(lst, columns=col, index=[1,2,3])
df2

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Q5

In [70]:
df[df['Element']=='Stock Variation'].groupby('Element').sum()

<ipython-input-70-12b1751ecd16>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Element']=='Stock Variation'].groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91

Q6

In [71]:
len(df['Area Code'].unique())

49

In [72]:
len(df['Area'].unique())

49

Q7 - Sets, Dictionaries

Q8

In [74]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [78]:
x = y[1][-1]
x

8

Q10

In [79]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

Q11

In [81]:
df[df['Item']=='Wine'].groupby('Item').sum()

<ipython-input-81-b3350653985e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df[df['Item']=='Wine'].groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32

Q12

In [89]:
(df.isna().sum()*100/df.shape[0]).loc['Y2014']

2.6073544131401474

In [90]:
(df.isna().sum()).loc['Y2014']

1589

Q16

In [91]:
df['Y2017'].mean()

140.9177648602722

In [92]:
df['Y2017'].std()

1671.8623590567995

Q17

In [97]:
df[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017',ascending=True).iloc[6,:]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

Q18

In [99]:
df.groupby('Element')['Y2017'].sum()['Processing']

292836.0

Q19

In [101]:
df[df['Area'] == 'Madagascar'].groupby('Element')['Y2015'].sum()['Protein supply quantity (g/capita/day)']

173.05

Q20

In [102]:
df[['Area','Y2017']].groupby('Area').sum().sort_values(by='Y2017',ascending=False).iloc[0,:]

Y2017    1483268.23
Name: Nigeria, dtype: float64